body {
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-sm-12{
    padding-left:0;
    padding-right:0;
}

.thumbnail {
    border: 4px solid #d9534f;
    margin-bottom: 5px;
}

.row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar-default {
    background-color: white;
}

.header-list{
    list-style:none;
    padding:0;
}

.header-text{
    font-size:50px;
}

.logo {
    width: 130px;
}

.panel {
    margin-bottom: 0;
    border:0;
}

.heading {
    background: url(../imgs/sakura.png) left top repeat;
    background: url(../imgs/confectionary.png) left top repeat;
    background: url(../imgs/footer_lodyas.png) left top repeat;
    background: url(../imgs/symphony.png) left top repeat;
    padding-top: 10vh;
    min-height: 100vh;
}

.services-row{
    /*height: 674px;*/
}

.portfolio-row{
    /*height:1523px;*/
}

.services {
    /*background: url(../imgs/sakura.png) left top repeat;*/
    background: url(../imgs/footer_lodyas.png) left top repeat;
    color: white;
    /*padding-bottom: 40px;*/
}

.reviews {
    background: url(../imgs/footer_lodyas.png) left top repeat;
    color: white;
}

.item > img{
    display: initial !important;
}

.portfolio {
    background: url(../imgs/symphony.png) left top repeat;
}

.team {
    background: url(../imgs/symphony.png) left top repeat;
}

.contact {
    background: url(../imgs/footer_lodyas.png) left top repeat;
    color: white;
}

.footer {
    background: url(../imgs/symphony.png) left top repeat;
}

.btn-round{
    border-radius:100%;
}

.btn-default:hover {
    color: #d9534f !important;
}

.img-circle {
    max-width: 40% !important;
}