body {
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-sm-12{
    padding-left:0;
    padding-right:0;
}

.row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar-default {
    background-color: white;
}

.header-list{
    list-style:none;
    padding:0;
}

.logo {
    width: 130px;
}

.panel {
    min-height: 100vh;
    margin-bottom: 0;
    border:0;
}

.panelOne {
    background: url(../imgs/sakura.png) left top repeat;
    background: url(../imgs/confectionary.png) left top repeat;
    background: url(../imgs/footer_lodyas.png) left top repeat;
    background: url(../imgs/symphony.png) left top repeat;
    padding-top: 5vh;
}

.panelTwo {
    /*background: url(../imgs/confectionary.png) left top repeat;*/
}

.panelThree {
    color:white;
    background: url(../imgs/footer_lodyas.png) left top repeat;
}

.panelFour {
    /*background: url(../imgs/symphony.png) left top repeat;*/
}

.panelFive {
    background: url(../imgs/sakura.png) left top repeat;
}
